### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/Compiler Project.iml
/src/antlrHTML/
/src/antlrJS/
ast.json
symbolTable.json
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/src/antlrHTML/
/src/antlrJS/
